svg {
  background: white;
  /* overflow: visible; */
  display: block;
  width: 100%; 
  height: 500px;
  /* No longer using default dimensinos of svg width 100% instead of 300px */
}

svg .country:hover {
  stroke: black;
  stroke-width: 1px;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  /* vh is relative to 1% of the height of the viewport  */
  padding: 0 50px; 
  /* So that when the chart becomes responsive we can still see the y axis */
}

button {
  display: block;
  margin: 0 auto 5px;
  width: 8rem;
  height: auto;
  border: 0.5 px solid green;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

button:hover{
  /* border: 2px solid crimson; */
  box-shadow: 0 0 5px green;

}

h1, h2 {
  display: block;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

select {
  margin-bottom: 5rem;
}
