
svg {
  background: white;
  overflow: visible;
  display: block;
  margin: auto;
  width: 100%;
  height: 300px
}

/* for non-responsive components */
/* svg {
  background: #eee;
  overflow: visible;
  display: block;
  margin: auto;
} */

svg .country:hover {
  stroke: black;
  stroke-width: 1px;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  /* vh is relative to 1% of the height of the viewport  */
  padding: 0 50px; 
  /* So that when the chart becomes responsive we can still see the y axis */
}

/* #root {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px;
  text-align: center;
  box-sizing: border-box;
} */

button {
  display: block;
  margin: 0 auto 5px;
  width: 8rem;
  height: auto;
  border: 0.5 px solid green;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

button:hover{
  /* border: 2px solid crimson; */
  box-shadow: 0 0 5px green;

}

h1, h2 {
  display: block;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

select {
  margin-bottom: 5rem;
}

small {
  margin-bottom: 2rem;
  margin-top: 1rem;
  display: block;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fields {
  margin-bottom: 1rem;
  text-align: center;
}

.field {
  display: inline-block;
  margin: 0 0.5em;
}

.field input {
  margin-right: 0.5em;
}